<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!--PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} 
				- %msg%n"/ -->
			<PatternLayout pattern="%d{HH:mm:ss,SSS} [%p:%t] %m%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="./log/jpac.log"
			filePattern="./log/jpac-%d{MM-dd-yyyy}.log" append="true">
			<PatternLayout pattern="%d{HH:mm:ss,SSS} [%p:%t] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>

	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
		<Logger
			name="org.apache.commons.configuration.ConfigurationUtils"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.Signal" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.plc" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.JPac" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.Module" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.Fireable" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.Remote" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.Alarm" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.hmi" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.opc" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.fx" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.ef" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.vioss.IOHandler" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.vioss.ads" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.vioss.opcua" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="jpac.vioss.revpi" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="com.digitalpetri" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="org.apache.bval.jsr303" level="info"
			additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="openjpa" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="io.netty" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
	</Loggers>
</Configuration>